@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  height: 100vh;
  background-image: url(../image/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  font-family: "Ubuntu", sans-serif;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 17px 80px;
  background-color: rgb(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
}

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  transition: all 600ms ease-in-out;
}

.header__logo:hover  {
  transform: scale(1.25);
  color: rgba(60, 184, 120, 1);
}

.header__menu {
  display: flex;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-right: 1px solid rgb(255, 255, 255, 0.9);
}

.icon {
  margin: 0 12px;
}

.calendar {
  width: 21px;
  height: 24px;
  background: url(../image/calendar.svg);

  /* Додано для експеременту */

  transition: background 600ms;
}

.calendar:hover {
  background: url(../image/calendar2.svg);
}

.email {
  width: 23px;
  height: 23px;
  background: url(../image/email.svg);
}

.email:hover {
  background: url(../image/email2.svg);
}

.compass {
  width: 23px;
  height: 23.5px;
  background: url(../image/compass.svg);
}

.compass:hover {
  background: url(../image/compass2.svg);
}

.header__login {
  margin-left: 27px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header__login a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header__login span:hover {
  opacity: 0.41;
}

.header__login a:hover {
  color: rgb(60, 184, 120);
}

.main {
  margin-top: 54px;
  position: absolute;
  left: 50%;
  top: calc(50% - 58px);
  transform: translate(-50%,-50%);

}

.form-wrapper {
  margin: 0 auto;
  width: 445px;
  height: 623px;
  background-color: rgb(255, 255, 255);
  padding: 30px 60px;
}

.form__title span {
  position: relative;
  width: 18px;
  height: 18px;
  right: 60px;
  background-color: rgb(1, 129, 63);
}

.form__title p {
  position: relative;
  right: 124px;
  color: rgba(67, 67, 67, 1);
}

.form__title {
  display: flex;
  justify-content: space-between;
}

.form__title a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(60, 184, 120);
}

.form__title a:hover {
  text-decoration: underline;
  color:rgba(1, 129, 63, 1)
}

.form__links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.form__link {
  width: 160px;
  height: 48px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  font-style: inherit;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.form__link p {
  margin-left: 10px;
  padding: 0 15px;
}

.form__link img {
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}

.facebook {
  background-color: rgb(48, 93, 184);
  transition: background-color 200ms;
}

.facebook:hover {
  background-color: rgb(2, 34, 99);
}

.facebook img {
  padding-right: 19px;
}

.google {
  background-color: rgb(223, 74, 50);
  transition: background-color 200ms;
}

.google:hover {
  background-color: rgb(171, 31, 9);
}

.google img {
  padding-right: 7px;
}

.block {
  width: 100%;
  margin: 0 auto;

  padding-top: 34px;
  overflow: hidden;
  text-align: center;
  color: rgb(132, 132, 132);
}

.block span {
  position: relative;
  font-size: 14px;
}

.block span::before {
  width: 152px;
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  right: 15px;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.block span::after {
  width: 152px;
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 15px;
  border-bottom: 1px solid rgb(242, 242, 242);
}

input[type="text"],
[type="email"],
[type="password"] {
  width: 100%;
  margin: 10px 0;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 4px;
  font-family: inherit;
  border: 1px solid rgb(204, 204, 204);
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.21);
}

input[type="text"]:focus::placeholder {
  color:rgba(67, 67, 67, 1);

}

input[type="email"]:focus::placeholder {
  color:rgba(67, 67, 67, 1);

}

input[type="password"]:focus::placeholder {
  color:rgba(67, 67, 67, 1);

}

label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color:rgba(67, 67, 67, 1);

}

label p {
  margin-left: 8px;

}

label a {
  margin-left: 4px;

}

input[type=checkbox] {
  display: none;

}

input[type=checkbox] + label:before {
  height: 20px;
  width: 20px;
  content: "";
  
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
  content:url('../image/checkpointer.svg');
  color: rgba(60, 184, 120, 1);
  border-color: rgba(242, 242, 242, 1);
}

form a {
  font-size: 14px;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  color: rgba(60, 184, 120);
}

form a:hover {
  text-decoration: underline;
  color: rgba(1, 129, 63, 1);
}


input[type="submit"] {
  width: 100%;
  margin: 20px 0;
  padding: 14px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  background-color: rgba(60, 184, 120, 0.8);
  color: white;
  transition: background-color 200ms;
}

input[type="submit"]:hover {
  background-color: rgb(1, 129, 63);
}
